<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teach.mapper.AttentionIdMapper">
  <resultMap id="BaseResultMap" type="com.teach.entity.AttentionId">
    <id column="attention_time" jdbcType="TIMESTAMP" property="attentionTime" />
    <result column="attention_user_id_ing" jdbcType="VARCHAR" property="attentionUserIdIng" />
    <result column="attention_user_id_ed" jdbcType="VARCHAR" property="attentionUserIdEd" />
  </resultMap>
  <sql id="Base_Column_List">
    attention_time, attention_user_id_ing, attention_user_id_ed
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.util.Date" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attention_id
    where attention_time = #{attentionTime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Date">
    delete from attention_id
    where attention_time = #{attentionTime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.teach.entity.AttentionId">
    insert into attention_id (attention_time, attention_user_id_ing, 
      attention_user_id_ed)
    values (#{attentionTime,jdbcType=TIMESTAMP}, #{attentionUserIdIng,jdbcType=VARCHAR}, 
      #{attentionUserIdEd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.teach.entity.AttentionId">
    insert into attention_id
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attentionTime != null">
        attention_time,
      </if>
      <if test="attentionUserIdIng != null">
        attention_user_id_ing,
      </if>
      <if test="attentionUserIdEd != null">
        attention_user_id_ed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attentionTime != null">
        #{attentionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attentionUserIdIng != null">
        #{attentionUserIdIng,jdbcType=VARCHAR},
      </if>
      <if test="attentionUserIdEd != null">
        #{attentionUserIdEd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teach.entity.AttentionId">
    update attention_id
    <set>
      <if test="attentionUserIdIng != null">
        attention_user_id_ing = #{attentionUserIdIng,jdbcType=VARCHAR},
      </if>
      <if test="attentionUserIdEd != null">
        attention_user_id_ed = #{attentionUserIdEd,jdbcType=VARCHAR},
      </if>
    </set>
    where attention_time = #{attentionTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teach.entity.AttentionId">
    update attention_id
    set attention_user_id_ing = #{attentionUserIdIng,jdbcType=VARCHAR},
      attention_user_id_ed = #{attentionUserIdEd,jdbcType=VARCHAR}
    where attention_time = #{attentionTime,jdbcType=TIMESTAMP}
  </update>
</mapper>