<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teach.mapper.AttentionIdMapper">
  <resultMap id="BaseResultMap" type="com.teach.entity.AttentionId">
    <id column="attention_time" jdbcType="TIMESTAMP" property="attentionTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="use_user_id" jdbcType="VARCHAR" property="useUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    attention_time, user_id, use_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.util.Date" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attention_id
    where attention_time = #{attentionTime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Date">
    delete from attention_id
    where attention_time = #{attentionTime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.teach.entity.AttentionId">
    insert into attention_id (attention_time, user_id, use_user_id
      )
    values (#{attentionTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, #{useUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.teach.entity.AttentionId">
    insert into attention_id
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attentionTime != null">
        attention_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="useUserId != null">
        use_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attentionTime != null">
        #{attentionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="useUserId != null">
        #{useUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teach.entity.AttentionId">
    update attention_id
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="useUserId != null">
        use_user_id = #{useUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where attention_time = #{attentionTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teach.entity.AttentionId">
    update attention_id
    set user_id = #{userId,jdbcType=VARCHAR},
      use_user_id = #{useUserId,jdbcType=VARCHAR}
    where attention_time = #{attentionTime,jdbcType=TIMESTAMP}
  </update>
</mapper>