<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teach.mapper.AynamicMapper">
  <resultMap id="BaseResultMap" type="com.teach.entity.Aynamic">
    <id column="aynamic_id" jdbcType="VARCHAR" property="aynamicId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="aynamic_id2" jdbcType="VARCHAR" property="aynamicId2" />
    <result column="aynamic_date" jdbcType="TIMESTAMP" property="aynamicDate" />
    <result column="aynamic_like" jdbcType="INTEGER" property="aynamicLike" />
    <result column="aynamic_transmit" jdbcType="INTEGER" property="aynamicTransmit" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.teach.entity.AynamicWithBLOBs">
    <result column="aynamic_info" jdbcType="LONGVARCHAR" property="aynamicInfo" />
    <result column="aynamic_like_ids" jdbcType="LONGVARCHAR" property="aynamicLikeIds" />
  </resultMap>
  <sql id="Base_Column_List">
    aynamic_id, user_id, aynamic_id2, aynamic_date, aynamic_like, aynamic_transmit
  </sql>
  <sql id="Blob_Column_List">
    aynamic_info, aynamic_like_ids
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aynamic
    where aynamic_id = #{aynamicId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from aynamic
    where aynamic_id = #{aynamicId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.teach.entity.AynamicWithBLOBs">
    insert into aynamic (aynamic_id, user_id, aynamic_id2, 
      aynamic_date, aynamic_like, aynamic_transmit, 
      aynamic_info, aynamic_like_ids)
    values (#{aynamicId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{aynamicId2,jdbcType=VARCHAR}, 
      #{aynamicDate,jdbcType=TIMESTAMP}, #{aynamicLike,jdbcType=INTEGER}, #{aynamicTransmit,jdbcType=INTEGER}, 
      #{aynamicInfo,jdbcType=LONGVARCHAR}, #{aynamicLikeIds,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.teach.entity.AynamicWithBLOBs">
    insert into aynamic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aynamicId != null">
        aynamic_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="aynamicId2 != null">
        aynamic_id2,
      </if>
      <if test="aynamicDate != null">
        aynamic_date,
      </if>
      <if test="aynamicLike != null">
        aynamic_like,
      </if>
      <if test="aynamicTransmit != null">
        aynamic_transmit,
      </if>
      <if test="aynamicInfo != null">
        aynamic_info,
      </if>
      <if test="aynamicLikeIds != null">
        aynamic_like_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aynamicId != null">
        #{aynamicId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="aynamicId2 != null">
        #{aynamicId2,jdbcType=VARCHAR},
      </if>
      <if test="aynamicDate != null">
        #{aynamicDate,jdbcType=TIMESTAMP},
      </if>
      <if test="aynamicLike != null">
        #{aynamicLike,jdbcType=INTEGER},
      </if>
      <if test="aynamicTransmit != null">
        #{aynamicTransmit,jdbcType=INTEGER},
      </if>
      <if test="aynamicInfo != null">
        #{aynamicInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="aynamicLikeIds != null">
        #{aynamicLikeIds,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teach.entity.AynamicWithBLOBs">
    update aynamic
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="aynamicId2 != null">
        aynamic_id2 = #{aynamicId2,jdbcType=VARCHAR},
      </if>
      <if test="aynamicDate != null">
        aynamic_date = #{aynamicDate,jdbcType=TIMESTAMP},
      </if>
      <if test="aynamicLike != null">
        aynamic_like = #{aynamicLike,jdbcType=INTEGER},
      </if>
      <if test="aynamicTransmit != null">
        aynamic_transmit = #{aynamicTransmit,jdbcType=INTEGER},
      </if>
      <if test="aynamicInfo != null">
        aynamic_info = #{aynamicInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="aynamicLikeIds != null">
        aynamic_like_ids = #{aynamicLikeIds,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where aynamic_id = #{aynamicId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.teach.entity.AynamicWithBLOBs">
    update aynamic
    set user_id = #{userId,jdbcType=VARCHAR},
      aynamic_id2 = #{aynamicId2,jdbcType=VARCHAR},
      aynamic_date = #{aynamicDate,jdbcType=TIMESTAMP},
      aynamic_like = #{aynamicLike,jdbcType=INTEGER},
      aynamic_transmit = #{aynamicTransmit,jdbcType=INTEGER},
      aynamic_info = #{aynamicInfo,jdbcType=LONGVARCHAR},
      aynamic_like_ids = #{aynamicLikeIds,jdbcType=LONGVARCHAR}
    where aynamic_id = #{aynamicId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teach.entity.Aynamic">
    update aynamic
    set user_id = #{userId,jdbcType=VARCHAR},
      aynamic_id2 = #{aynamicId2,jdbcType=VARCHAR},
      aynamic_date = #{aynamicDate,jdbcType=TIMESTAMP},
      aynamic_like = #{aynamicLike,jdbcType=INTEGER},
      aynamic_transmit = #{aynamicTransmit,jdbcType=INTEGER}
    where aynamic_id = #{aynamicId,jdbcType=VARCHAR}
  </update>
</mapper>